@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", italic;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #242424;
    background-color: #FBF7F4;
  }

  .navigation-link {
    font-family: inherit;
    font-size: 20px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .navigation-link-button {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;  
    text-transform: uppercase;
  }

  .inner-header-title {
    font-family: inherit;
    font-size: 60px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
  }

  .breadcrumbs-link {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: normal;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
  }

  .catalog-filter-title {
    font-family: inherit;
    font-size: 20px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
  }

  .control-label {
    font-family: inherit;
    font-size: 18px;
    line-height: auto;
    font-weight: normal;
    text-align: center;
    width: auto;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #756257;
    border: none;
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #83B3D3;
    border: none;
  }

  .visually-hidden {
    font-family: inherit;
    font-size: 30px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #000000;
    background-color: #FFFFFF;
  }

    .product-card-title {
    font-family: inherit;
    font-size: 24px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .residence {
    font-family: inherit;
    font-size: 18px;
    line-height: auto;
    font-weight: normal;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #000000;
    background-color: #FFFFFF;
  }

  .product-card-button {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
  }

  .favourites {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }

  .product-card-favourites {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }

  .pages {
    font-family: inherit;
    font-size: 20px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }