@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", italic;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #242424;
    background-color: #FBF7F4;
  }

  .navigation-link {
    font-family: inherit;
    font-size: 20px;
    line-height: auto;
    font-weight: bold;
    text-align: left;
    width: auto;
    vertical-align: top;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .navigation-link-button {
    font-family: inherit;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-align: center;
    width: auto;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;  
    text-transform: uppercase;
  }

  